body {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-weight: 700;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
}

.mask {
    background-color: rgba(251, 251, 251, 0.35);
}

#projects {
    background-color: #e5e7eb;
}

.contact-text {
    font-weight: 600;
}